{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About RadioFinder {% endblock %}</h1>
    <a>
        RadioFinder is a hobby project made for fun by <i><a href="https://twitter.com/elpatron_kiel" target="_blank">elpatron</a></i>.<br>
        It was made with <a href="https://www.python.org/" target="_blank">Python</a> and 
        <a href="https://flask.palletsprojects.com/en/2.1.x/" target="_blank">Flask</a>, using 
        <a href="https://github.com/andreztz/pyradios" target="_blank">Pyradios</a> and 
        <a href="https://API.radio-browser.info" target="_blank">Radio-Browser.info</a>.<br>
        All icons are taken from Google&rsquo;s <a href="https://material.io/" target="_blank">Material.io</a>.
    </a>
    <br><br>
    <h3>{% block privacy %} Privacy statement {% endblock %}</h3>
    <a>
        This web app does not collect any data from it&rsquo;s users. This means: No cookies, minimal logging, no advertising, no monetization.
    </a>
    <br><br>
    <h3>{% block other %} Source Code {% endblock %}</h3>
    <a>
        This web app is open source software and can be forked at <a href="https://gitlab.com/m-busche/pyradiofinder" target="_blank">GitLab</a>.
    </a>
    <div class="min-vh-100 d-flex flex-column 
                justify-content-between"
            style="text-align:center">
        <footer>
            Version <a href="https://gitlab.com/m-busche/pyradiofinder/-/commits/master" target="_blank">{{ gitversion }}</a>
        </footer>
    </div>
{% endblock %}

