{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to elpatrons RadioFinder {% endblock %}</h1>
    This is a search engine for internet radio stations. It is powered by the community driven open source database <a href="https://API.radio-browser.info" target="_blank">Radio-Browser.info</a>.<br>
    <br>
    <form method="POST">
        <input name="Suchbegriff">
        <input type="submit" value="Search radio station">
        <br>
        <input type="checkbox" name="exact" unchecked> Exact match
    </form>
    <br>
    <div>
        <a>
            <h3>Tipps</h3><br>
            <ul class="list-group">
                <li>If <i>Exact match</i> is checked, only stations named <b>exactly like the query text</b> are listed.</li>
                <li>Click on the <i>Play</i> button to start playing the stations&acute; live stream.</li>
                <li>Right click on the <i>Play</i> button in the search results and select <i>Copy link location</i> to copy the direct playback link to the clipboard to use it in another app like your radio player.</li>
                <li>Click on the house icon to open the stations&acute; homepage.</li>
                <li>Only stations which succeeded the last test are listed (no broken links).</li>
                <li>The name of the radio stations is cut to 64 characters, hover over the name to see the full name as tooltip.</li>
            </ul>
        </a>
    </div>
    <br>


    {% if numresults > 0 %}
        <h3>{% block results %} {{ numresults }} Results for query <i>{{ query }}</i> {% endblock %}</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Radio URL</th>
                    <th>Homepage</th>
                    <th>Country</th>
                    <th>Codec</th>
                    <th>Bitrate</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% set count = [1] %}
                {% for r in result %}
                    <tr>
                        <td>[{{ count|length }}]</td>
                        <td >
                            <div data-original-title="666" data-toggle="tooltip" data-placement="bottom" title="{{ r['name'] }}">
                                <a>
                                    {{ r['shortname'] }}
                                </a>
                            </div>
                        </td>
                        <td><a href="{{ r['url'] }}" target="_blank"><img alt="Play" src="./static/img/outline_play_arrow_black_24dp.png"</a></td>
                        <td><a href="{{ r['homepage'] }}" target="_blank"><img alt="Homepage" src="./static/img/outline_home_black_24dp.png"</a></td>
                        <td>{{ r['countrycode'] }}</td>
                        <td>{{ r['codec'] }}</td>
                        <td>{{ r['bitrate'] }}</td>
                        <td >
                            <div data-original-title="6666" data-toggle="tooltip" data-placement="bottom" title="{{ r['infotooltip'] }}">
                                <a>
                                    <img alt="{{ r['infotooltip'] }}" src="./static/img/outline_info_black_24dp.png">
                                </a>
                            </div>
                        </td>

                    </tr>
                    {% set __ = count.append(1) %}
                {% endfor %}        
            </tbody>
        </table>
    {% endif %}

    {% if numresults == 0 %}
        <h3>{% block noresults %} No results for query <i>{{ query }}</i> {% endblock %}</h3>
    {% endif %}
    
    <div class="min-vh-100 d-flex flex-column 
                justify-content-between"
                style="text-align:center">
        <footer>
            Version <a href="https://gitlab.com/m-busche/pyradiofinder/-/commits/master" target="_blank">{{ gitversion }}</a>
        </footer>
    </div>
{% endblock %}
